/* Consultox | Consulting Firm  HTML Template */

@media only screen and (max-width: 1340px){

	.page-wrapper{
		overflow:hidden;	
	}
	
}

@media only screen and (max-width: 1140px){
	
	.main-header{
		position:relative;
		margin:0px !important;
	}
	
	.main-menu .navigation > li{
		margin-left:20px;	
	}
	
	.sec-title h2{
		font-size:30px;
	}
	
	.header-style-two .main-menu .navigation > li:after,
	.header-style-three .outer-box,
	.welcome-section .services-title h2 br{
		display:none;
	}
	
	.header-style-two .main-menu .navigation > li,
	.gallery-section .filters li{
		margin-right:25px;
	}
	
	.company-single,
	.message-section .text,
	.history-single .inner-box,
	.careers-single .inner-box,
	.partner-single .inner-box,
	.services-single,
	.default-section .general-column .inner-column,
	.study-section .image-column .inner-column{
		padding-left:0px;
	}
	
	.news-block-two .inner-box h3{
		font-size:18px;
	}
	
	.gallery-section.fullwidth .gallery-item-two{
		width:25%;
	}
	
	.gallery-single .upper-content .image-info{
		padding:25px 20px;
	}
	
	.our-blog.padding-right, .blog-classic.padding-right, .blog-single.padding-right{
		padding-right:0px;
	}
	
	.project-section.alternate .project-tab .product-tab-btns .p-tab-btn,
	.gallery-section .filters .filter{
		padding:8px 15px;
		line-height:24px;
		font-size:14px;
		border:1px solid #2b2b2b;
		margin:0px 10px 10px 0px;	
	}
	
}

@media only screen and (min-width: 768px){
	.main-menu .navigation > li > ul,
	.main-menu .navigation > li > ul > li > ul{
		display:block !important;
		visibility:hidden;
		opacity:0;
	}
}

@media only screen and (max-width: 1023px){
	
	.main-header .main-box .logo-box{
		width:100%;
		padding-bottom:10px;
	}
	
	.main-header .nav-outer{
		width:100%;
	}
	
	.main-menu .navigation > li{
		margin-left:0px;
		margin-right:18px;
		padding:0px;
	}
	
	.main-header .btn-outer{
		display:none;
		padding:12px 0px;
	}
	
	.main-header.fixed-header .main-box{
		position:relative;
		-webkit-animation: none;
		-moz-animation: none;
		-o-animation: none;
		-ms-animation: none;
		animation: none;
	}
	
	.main-header.fixed-header .main-box .logo-box{
		padding:15px 0px;
	}
	
	.main-header.fixed-header .main-box .logo-box .logo img{
		height:auto;
	}
	
	.fixed-header .main-menu .navigation > li > a{
		padding:20px 0px;	
	}
	
	.tparrows,
	.header-style-two .outer-box,
	.ceo-section .image-column .image{
		display:none;
	}
	
	.main-slider h2,
	.main-slider h2.alternate{
		font-size:42px;
	}
	
	.main-slider h1,
	.error-section h2{
		font-size:38px;
	}
	
	.main-header .header-upper .upper-right{
		width:100%;
		padding-top:0px;
		text-align:center;
		padding-bottom:20px;
	}
	
	.main-header .info-box{
		float:none;
		margin-left:15px;
		display:inline-block;
	}
	
	.header-style-two .logo-outer{
		text-align:center;
		width:100%;
	}
	
	.header-style-two .main-menu .navigation > li,
	.project-tab .product-tab-btns .p-tab-btn,
	.project-tab .product-tab-btns .p-tab-btn{
		margin-right:30px;
	}
	
	.main-slider .text,
	.testimonial-block .inner-box .text,
	.error-section .text{
		font-size:18px;
	}
	
	.header-style-three .header-lower{
		margin-bottom:0px;
	}
	
	.main-header .sticky-header .main-menu .navigation > li,
	.header-style-three .main-menu .navigation > li{
		margin-left:0px;
		margin-right:20px;
	}
	
	.main-header .sticky-header .right-col{
		width:100%;
	}
	
	.header-style-three .nav-outer{
		padding-left:15px;
	}
	
	.header-style-three .header-upper .logo-outer{
		width:100%;
		text-align:center;
	}
	
	.services-section .owl-nav{
		position:relative;
		top:0px;
		left:-20px;
	}
	
	.gallery-section.fullwidth .gallery-item-two{
		width:33.3333%;
	}
	
	.gallery-section.fullwidth .filter-list{
		padding:0px;
	}
	
	.gallery-single .upper-content .image-info .info-column ul li span{
		width:100px;
	}
	
	.gallery-single .upper-content .image-info .info-column ul li{
		font-size:15px;
	}
	
	.error-section h1{
		font-size:100px;
	}
	
	.contact-section .info-column .inner-column{
		margin-left:0px;
		margin-top:0px;
		padding-left:0px;
		border:0px;
	}
	
	.project-tab .product-tab-btns .p-tab-btn{
		padding:8px 15px;
		line-height:24px;
		font-size:14px;
		border:1px solid #2b2b2b;
		margin:0px 10px 10px 0px;	
	}
	
	.fixed-header .sticky-header{
		display:none;	
	}
	
	.message-section .text{
		padding-right:0px;
	}	
	
}

@media only screen and (max-width: 767px){
	
	.header-style-three .header-lower{
		margin-bottom:15px;	
	}
	
	.header-upper .logo-outer {
		position:relative;
		left:0px;
		top:0px;
		right:0px;
		bottom:0px;
		width:100%;
		margin:0px;
	}
	
	.main-header .header-top .top-left,
	.main-header .header-top .top-right,
	.main-header .header-top .top-right .links{
		width:100%;
		text-align:center;
	}
	
	.main-header .header-top .top-right .links{
		padding-bottom:15px;
	}
	
	.header-top .social-icon{
		float:none;
		margin-left:0px;
		text-align:center;
		display:inline-block;
	}
	
	.main-header .header-top .top-right .links li{
		float:none;
		display:inline-block;
	}
	
	.sec-title h2{
		font-size:24px;	
	}
	
	.main-menu .collapse {
	   max-height:300px;
		overflow:auto;
		float:none;
		width:100%;
		padding:10px 0px 0px;
		border:none;
		margin:0px 0px 15px;
		-ms-border-radius:3px;
		-moz-border-radius:3px;
		-webkit-border-radius:3px;
		-o-border-radius:3px;
		border-radius:3px;
		-webkit-box-shadow:none;
		-ms-box-shadow:none;
		-o-box-shadow:none;
		-moz-box-shadow:none;
		box-shadow:none;
   }
   
	.main-menu .collapse.in,
	.main-menu .collapsing{
		padding:0px 0px 0px;
		border:none;
		margin:0px 0px 15px;
		-ms-border-radius:3px;
		-moz-border-radius:3px;
		-webkit-border-radius:3px;
		-o-border-radius:3px;
		border-radius:3px;
		-webkit-box-shadow:none;
		-ms-box-shadow:none;
		-o-box-shadow:none;
		-moz-box-shadow:none;
		box-shadow:none;	
	}
	
	.main-menu .navbar-header{
		position:relative;
		float:none;
		display:block;
		text-align:right;
		width:100%;
		padding:12px 0px;
		right:0px;
		z-index:12;
	}
	
	.main-menu .navbar-header .navbar-toggle{
		display:inline-block;
		z-index:12;
		border:1px solid #d2b871;
		float:none;
		margin:-2px 0px 0px 0px;
		border-radius:0px;
		background:#d2b871;
	}
	
	.main-menu .navbar-header .navbar-toggle .icon-bar{
		background:#ffffff;	
	}
	
	.main-menu .navbar-collapse > .navigation{
		float:none !important;
		margin:0px !important;
		width:100% !important;
		background:#2c2c2c;
		border:1px solid #ffffff;
		border-top:none;
	}
	
	.main-menu .navbar-collapse > .navigation > li{
		margin:0px !important;
		float:none !important;
		padding:0px !important;
		width:100%;
	}
	
	.main-menu .navigation > li > a,
	.main-menu .navigation > li > ul:before{
		border:none;	
	}
	
	.main-menu .navbar-collapse > .navigation > li > a{
		padding:10px 10px !important;
		border:none !important;
		font-weight:500;
	}
	
	.main-menu .navigation li.dropdown > a:after,
	.main-menu .navigation > li.dropdown > a:before,
	.main-menu .navigation > li > ul > li > a::before,
	.main-menu .navigation > li > ul > li > ul > li > a::before{
		color:#ffffff !important;
		right:15px;
		font-size:16px;
		display:none !important;
	}
	
	.main-menu .navbar-collapse > .navigation > li > ul,
	.main-menu .navbar-collapse > .navigation > li > ul > li > ul{
		position:relative;
		border:none;
		float:none;
		visibility:visible;
		opacity:1;
		display:none;
		margin:0px;
		left:auto !important;
		right:auto !important;
		top:auto !important;
		padding:0px;
		outline:none;
		width:100%;
		background:#2c2c2c;
		-webkit-border-radius:0px;
		-ms-border-radius:0px;
		-o-border-radius:0px;
		-moz-border-radius:0px;
		border-radius:0px;
		transition:none !important;
		-webkit-transition:none !important;
		-ms-transition:none !important;
		-o-transition:none !important;
		-moz-transition:none !important;
		-webkit-box-shadow:none;
		-ms-box-shadow:none;
		-o-box-shadow:none;
		-moz-box-shadow:none;
		box-shadow:none;
	}
		
	.main-menu .navbar-collapse > .navigation > li > ul,
	.main-menu .navbar-collapse > .navigation > li > ul > li > ul{
		
	}
	
	.main-menu .navbar-collapse > .navigation > li,
	.main-menu .navbar-collapse > .navigation > li > ul > li,
	.main-menu .navbar-collapse > .navigation > li > ul > li > ul > li{
		border-top:1px solid rgba(255,255,255,1) !important;
		border-bottom:none;
		opacity:1 !important;
		top:0px !important;
		left:0px !important;
		visibility:visible !important;
	}
	
	.main-menu .navbar-collapse > .navigation > li:first-child{
		border:none;	
	}
	
	.main-menu .navbar-collapse > .navigation > li > a,
	.main-menu .navbar-collapse > .navigation > li > ul > li > a,
	.main-menu .navbar-collapse > .navigation > li > ul > li > ul > li > a{
		padding:12px 20px 10px !important;
		line-height:22px;
		color:#ffffff;
		background:#2c2c2c;
		text-align:left;
		font-size:16px;
	}
	
	.main-menu .navbar-collapse > .navigation > li > a:hover,
	.main-menu .navbar-collapse > .navigation > li > a:active,
	.main-menu .navbar-collapse > .navigation > li > a:focus{
		background:#d2b871;
	}
	
	.main-menu .navbar-collapse > .navigation > li:hover > a,
	.main-menu .navbar-collapse > .navigation > li > ul > li:hover > a,
	.main-menu .navbar-collapse > .navigation > li > ul > li > ul > li:hover > a,
	.main-menu .navbar-collapse > .navigation > li.current > a,

	.main-menu .navbar-collapse > .navigation > li.current-menu-item > a{
		background:#2c2c2c;
		color:#ffffff !important;
	}
	
	.main-menu .navbar-collapse > .navigation li.dropdown .dropdown-btn{
		display:block;
	}
	
	.main-menu .navbar-collapse > .navigation li.dropdown:after,
	.main-menu .navigation > li > ul:before{
		display:none !important;	
	}
	
	.main-slider .big-title{
		font-size:36px;
	}
	
	.main-header .nav-outer{
		padding-right:0px;
		width:100%;
	}
	
	.main-header .nav-outer .search-box-outer{
		left:0px;
		top:25px;
		right:auto;
		z-index:12;
	}
	
	.main-header .nav-outer .search-box-outer .dropdown-menu{
		left:0px;
		top:44px;
	}
	
	.main-slider h2{
		font-size:26px;
	}
	
	.main-header .btn-outer{
		position:relative;
		display:block;
		float:left;
		z-index:15;
		margin-left:0px;
		margin-bottom:-58px;
	}
	
	.main-header .header-top .top-left .links{
		width:100%;
	}
	
	.main-header .header-top .top-left .links li{
		float:none;
		display:inline-block;
	}
	
	.main-header .header-top .top-left .links li:before,
	.main-header .header-top .top-left .links li:after{
		display:none;	
	}
	
	.main-slider .text{
		font-size:16px;
	}
	
	.main-header .info-box .icon-box{
		position:relative;
		top:0px;
		text-align:center;
		margin-bottom:10px;
	}
	
	.header-style-two .outer-box{
		display:block;
		left:0px;
		right:auto;
	}
	
	.header-style-two .outer-box,
	.fixed-header .sticky-header,
	.comming-soon .content .content-inner .text br,
	.header-style-two .outer-box .btn-style-eight{
		display:none;
	}
	
	.header-style-two .nav-outer .search-box-outer,
	.header-style-three .nav-outer .search-box-outer{
		margin-top: -7px !important;
		position: absolute;
	}
	
	.header-style-two .nav-outer .search-box-outer .dropdown-menu{
		top:35px;
	}
	
	.main-header .main-box .logo-box{
		text-align:center;
	}
	
	.main-header .main-box .outer-container{
		padding-bottom:5px;
	}
	
	.main-header .search-box-btn{
		text-align:left;
		border:0px;	
	}
	
	.main-slider h2.alternate{
		font-size:36px;
	}
	
	.main-menu{
		width:100%;
		padding-right:0px !important;
	}
	
	.main-header .header-top .top-left,
	.main-header .header-top .top-right{
		padding-bottom:0px;
	}
	
	.main-header .language{
		margin-top:0px;
		top:-8px;
	}
	
	.main-header .header-top .top-left .links li{
		padding-right:0px;
	}
	
	.main-header .info-box{
		display:block;
		padding:0px;
		margin-bottom:20px;
		border:0px;
	}
	
	.main-header .info-box{
		text-align:center;
	}
	
	.header-style-three .nav-outer{
		padding-right:15px;
	}
	
	.call-to-action-section h2,
	.appointment-section .inner-container h2{
		font-size:28px;
	}
	
	.call-to-action-section h2 span{
		font-size:24px;
	}
	
	.testimonial-block .inner-box .image-box{
		position:relative;
		margin-bottom:20px;
		border:0px;
		width:auto;
	}
	
	.testimonial-block .inner-box,
	.services-block-three .inner-box,
	.services-block-five .inner{
		padding-left:0px;
		text-align:center;
	}
	
	.testimonial-section .owl-nav{
		position:relative;
		top:0px;
		right:auto;
		margin-top:20px;
		text-align:center;
	}
	
	.testimonial-section .owl-nav .owl-prev,
	.testimonial-section .owl-nav .owl-next{
		margin-left:10px;
		margin-right:10px;
	}
	
	.testimonial-section{
		padding:90px 0px;
	}
	
	.services-block-three .inner-box .icon-box{
		position:relative;
	}
	
	.history-block .inner,
	.sidebar-page-container .comments-area .comment{
		padding-left:0px;
	}
	
	.history-block .inner .year,
	.sidebar-page-container .comments-area .comment-box .author-thumb{
		position:relative;
		margin-bottom:20px;
	}
	
	.history-block .inner h4{
		display:block;
	}
	
	.careers-single .inner-box .download-box h4,
	.history-block .inner .images-gallery .image{
		margin-bottom:30px;
	}
	
	.services-block-five .inner .icon-box{
		position:relative;
		margin:0 auto;
		margin-bottom:20px;
	}
	
	.gallery-section.fullwidth .gallery-item-two{
		width:50%;
	}
	
	.comming-soon .content .content-inner h2{
		font-size:50px;
	}
	
	.sidebar-page-container .comments-area .comment.reply-comment{
		margin-left:0px;
	}
	
	.page-title h1{
		font-size:40px;
	}
	
}

@media only screen and (max-width: 599px){
	
	.main-slider .big-title,
	.sec-title-two h2,
	.error-section h2,
	.ceo-section .content-column .inner-column h2{
		font-size:30px;
	}
	
	.main-slider h2:after,
	.sec-title h2 br,
	.main-header .header-top .top-right{
		display:none;
	}
	
	.main-slider h2{
		font-size:20px;
		padding-bottom:0px;
	}
	
	.main-slider .text{
		font-size:14px;
		line-height:1.4em;
	}
	
	.main-slider h1,
	.error-section .theme-btn{
		font-size:24px;
	}
	
	.main-slider h2.alternate,
	.services-single .inner-box h2,
	.quote-section .form-column .inner-column h2{
		font-size:26px;
	}
	
	.main-header .header-top .top-left{
		padding-bottom:12px;
	}
	
	.welcome-section .services-title h2,
	.comming-soon .content .content-inner .text,
	.news-block-three .inner-box .lower-content .lower-box h3{
		font-size:18px;
	}
	
	.sec-title .text{
		font-size:16px;
	}
	
	.page-title h1{
		font-size:30px;
	}
	
	.partner-block .inner-box .content{
		padding-left:15px;
	}
	
	.partner-block .inner-box .content .client-icon{
		position:relative;
		margin-bottom:20px;
		margin-left:-10px;
	}
	
	.gallery-section.fullwidth .gallery-item-two{
		width:100%;
	}
	
	.comming-soon .emailed-form .form-group input[type="submit"],
	.comming-soon .emailed-form button{
		position:relative;
		width:100%;
		margin-top:15px;
	}
	
	.news-block-three.style-two .inner-box .lower-content .upper-box .post-meta{
		width:100%;
		top:0px;
	}
	
	.comment-form .form-inner{
		padding:25px 20px 10px;
	}
	
	.project-tab .product-tab-btns .p-tab-btn,
	.gallery-section .filters .filter{
		display:block;
		width:100%;
		margin:0px 0px 10px;
		text-align:center;	
	}
	
}

@media only screen and (max-width: 479px) {
	
	.main-slider .big-title{
		font-size:24px;
	}
	
	.main-slider h2{
		line-height:1em;
	}
	
	.main-slider .text{
		font-size:12px;
		line-height:1em;
	}
	
	.main-header .main-box .logo-box{
		padding-bottom:0px;
	}
	
	.main-header .main-box .logo-box,
	.call-to-action-section .number-box .number{
		width:100%;
		margin-bottom:20px;
	}
	
	.main-slider h1{
		font-size:20px;
		padding-bottom:0px;
	}
	
	.main-slider h1:after,
	.call-to-action-section .number-box:before{
		display:none;
	}
	
	.main-slider .medium-title{
		font-size:24px;
	}
	
	.main-header .header-top .top-left .links li{
		padding-right:0px;
		border:0px;
		margin:5px 5px;
	}
	
	.main-slider .solution,
	.main-slider h2 .pain{
		padding:5px 5px;
	}
	
	.main-slider h2.alternate,
	.error-section .theme-btn{
		font-size:20px;
	}
	
	.call-to-action-section .number-box{
		text-align:center;
	}
	
	.call-to-action-section .number-box .pull-left,
	.call-to-action-section .number-box .pull-right{
		width:100%;
	}
	
	.gallery-single .upper-content .image-info .info-column ul li{
		font-size:14px;
	}
	
}



@media only screen and (min-width: 300px) and (max-width: 1100px)  {

    .content-column.col-md-6.col-md-offset-3 {
        background-color: #fff;
        padding: 20px;
        border-radius: 7px;
        margin: 20px;
    }
    
    
    
    .content-column-3.col-md-6.col-md-offset-3 {
    background-color: #bfbfbf;
    padding: 20px;
    border-radius: 7px;
    margin-top: 20px;
    margin: 20px;    
    }
    
    
    .content-column-2.col-md-6.col-md-offset-3 {
    background-color: #bfbfbf;
    padding: 20px;
    border-radius: 7px;
    margin: 20px;
    }
    
    .linha {
  position: relative;
  display:  -webkit-box;
  display:  -ms-flexbox;
  display:  flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.linha li a:after {
  position: absolute;
  top: 50%;
  /* margin-left: 20px; */
  width: 100%;
  height: 1px;
  content: '';
  background: #e8e9ed;
  right: -48px;
}

.linha li:last-child a:after {display: none;}

.search_form form button:hover,.header_widget > ul > li > a:hover,.cart_button a:hover{
    background: #ffffff;
    border-color: #ffffff;
    color: #0b4e98;
}
.header_widget ul li{
    /* display: inline-block; */
    position: relative;
    margin: 0 23px;
}
.header_widget > ul > li > a {
	width: 50px;
	height: 50px;
	/* margin-left: 75px; */
	line-height: 46px;
	border: 2px solid #fff;
	border-radius: 50%;
	text-align: center;
	color: #fff;
	display: block;
	font-size: 26px;
	position:  relative;
}
.header_widget > ul > li:first-child > a {
	margin: 0;
}
.header_widget {
	position: relative;
	/* margin-top: 25px; */
}

/* 2.4 mini cart css here */
.cart_item,.cart_price_line,.cart_total {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	padding: 15px 0;
	border-bottom: 1px solid #e5e5e5;
}
.header_widget span.cart__quantity {
	font-size: 16px;
	font-weight: 700;
	background: #ea3a3c;
	color: #fff;
	width: 25px;
	height: 25px;
	display: inline-block;
	text-align: center;
	line-height: 25px;
	border-radius: 50%;
	position: absolute;
	top: -6px;
	right: -7px;
}

    
    
    
}    
    